* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.page__wrapper {
    margin-top: 30px;
    display: flex;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
    margin-right: 5px;
}

.page__current {
    border: 4px solid orange;
    font-weight: bold;
}

.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    background: lightgray;
}

.navbar__links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    /*margin-left: auto;*/
}

.post__buttons {
    display: flex;
}